canvas {
        border: 1px dotted black;
}


#info {
        
        float:right;
}

#currentPlayer {
        text-align:center;
}

#gameBoard {
        float:left;
}


.noticeItem {
        background-color: pink;
}


.evenNoticeItem {
        background-color:green;
}

.oddNoticeItem {
        font-style:italic;
}
