canvas {
        border: 1px dotted black;
}


#info {
        
        float:right;
}

#currentPlayer {
        text-align:center;
}

#gameBoard {
        float:left;
        cursor:none;
}

#gameBoard:hover {
        border:3px;
}

ul {
        float:right;
        overflow:auto;
        height:400px;
}
li {
        background-color:#eeeeee;
}
li.even {
        background-color:#796548;
}

li.odd {
        background-color:#fafab0;
}
